.example{background:url(/images/img.webp?97b5f7859a9e3ccfb772fbca33379725)}
body{background:#00339903;color:#039;margin:0;padding:20px}.info{background:#42b983;color:#fff;font-size:21px;font-weight:700;padding:25px 10px}
