.example {
  background: url(/images/img.webp?97b5f7859a9e3ccfb772fbca33379725);
}
* {
	box-sizing: border-box;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
	margin: 0px;
	padding: 0px;
	color: #003399;
}

#app {
	float: left;
	width: 100%;	
	overflow: hidden;
}

.content {
	float: left;
	width: 100%;
	padding: 0px 20px;
}

a {
	text-decoration: none;
}

form {
	float: left;
	width: 100%;
	margin: 10px 0px;
	padding: 20px;
	background: #fff;
	border: 1px solid #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.05);
}

error {
	float: left;
	width: 100%;
	margin: 5px 0px;
	padding: 10px 15px;
	color: #f23;
	background: #ff223306;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 700;
}

.form-title {
	float: left;
	width: 100%;
	margin: 0px 0px 5px 0px;
	font-weight: 700;
	font-size: 21px;
}

input, select, textarea {
	float: left;
	width: 100%;
	margin: 5px 0px;
	padding: 15px 20px;
	border-radius: 6px;
	color: #2a5cc0;
	background: #2a5cc006;
	border: 1px solid #2a5cc0;
	transition: all .6s;
}

input:focus, select:focus, textarea:focus {
	border: 1px dashed #3766c5;
}

input[type=submit] {
	float: left;
	width: 100%;
	margin: 5px 0px;
	padding: 13px 20px;
	border-radius: 6px;
	color: #fff;
	background: #2a5cc0;
	border: 1px solid #2a5cc0;
	transition: all .6s;
	cursor: pointer;
}

input[type=submit]:hover {
	color: #fff;
	background: #132241;
}

.info {
	float: left;
	width: 100%;
	color: #fff;
	background: #42b983aa;
	padding: 10px 25px;
	margin: 20px 0px;
	font-weight: 700;
	font-size: 21px;
	border-radius: 6px;
}

.rlink {
	float: left;
	width: auto;
	color: #42b983;
	background: #fff;
	border: 2px solid #42b983;
	border-radius: 6px;
	padding: 5px 15px;
	margin: 10px 5px;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
	transition: all .6s;
}

.rlink:hover {
	background: #42b98311;
}

button {
	color: #2a5cc0;
	background: #fff;
	border: 2px solid #2a5cc0;
	border-radius: 6px;
	padding: 5px 15px;
	margin: 0px 5px;
	font-weight: 400;
	font-size: 15px;
	cursor: pointer;	
}

button:hover {
	color: #fff;
	background: #2a5cc0;
	border: 2px solid #2a5cc0;
}

.logout-btn {
	color: #003399;
	background: #fff;
	border: 2px solid #003399;
}

.logout-btn:hover {
	color: #fff;
	background: #003399;
	border: 2px solid #003399;
}

.top-menu {
	float: left;
	width: 100%;
	padding: 10px;
	background: #00339903;
	border-radius: 6px;
	margin: 5px 0px;
}
